@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background-color: #F3E4D7;
    --text-color: #333333;
    --text-color-light: #f5f5f5;
    --navbar-color: linear-gradient(135deg, #161c21, #1A4265);
    --border-color: #C3B392;
    --remove-btn-color: #F69C7B;
    --gradient-color: linear-gradient(135deg, #4C6A92, #F5A178);
    --suggested-item-color: #61706D;
    --footer-color: #ac804a;
    --azul-oscuro: #1A4265;
}

html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
}

header, .navbar, .navbar-expand-lg, .navbar-dark, .bg-dark {
    background: var(--navbar-color);
}

img {
    max-width: 100%;
    display: block;
}

main {
    flex: 1;
    padding: 20px;
    background-color: var(--background-color);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1;
    color: var(--text-color);
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.navbar {
    padding: 1rem;
}

.nav-link {
    color: white;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--border-color);
}

#main_container {
    padding: 0 5px;
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    background-color: var(--background-color);
}

.navMenu {
    display: flex;
    padding: 20px 0;
    background-color: var(--background-color);
}

.navMenu > li {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.navMenu > li::after {
    content: "â—";
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    color: var(--border-color);
}

.navMenu > li:last-child {
    color: var(--text-color);
}

.label {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    color: var(--text-color);
    margin-bottom: 15px;
    display: block;
}

input,
textarea {
    font-weight: 600;
    font-size: 1.2rem;
    color: #1f0a4e;
    width: 100%;
    border: 1px solid #a09aac;
    background: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: border-color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.link {
    margin: -10px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-color);
    display: inline-block;
    background: none;
}

.guardar {
    display: block;
    margin: 20px auto;
    width: 40%;
    padding: 15px;
    background-color: var(--azul-oscuro);
    color: var(--text-color-light);
    border: 1px solid var(--text-color);
    font-weight: 600;
    text-align: center;
}

footer {
    height: 100%;
    width: 100vw;
    background: var(--footer-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer__payment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    padding: 5px;
}

.footer__info {
    background: var(--footer-color);
    padding: 35px 20px 40px;
}

.footer__info h4 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16.1px;
    font-weight: 700;
    line-height: 24px;
}

.footer__info_A {
    margin: 10px auto 15px;
    padding-bottom: 15px;
    font-size: 12.2px;
    max-width: 1200px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__info_B {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 12.2px;
    font-weight: 600;
    line-height: 18px;
}

