<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/style.css">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container__chatbox">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="../static/images/logochat.jpg" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Web Chat</h4>
                    <p class="chatbox__description--header">Hola, soy Kolibot ¿Cómo puedo ayudarte?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Escribe un mensaje...">
                <button class="chatbox__send--footer send__button">Enviar</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

    
    <script type="text/javascript" src="../static/app.js"></script>

</body>
</html>